@import "compass/css3";

/* Copy of styles for 2026 site (same as root/2025) */
body { margin: 0 auto; font-family: Arial, sans-serif; font-size: 20px; max-width: 800px; }
#navbar { background-color: rgb(55, 115, 255); height: 55px; width: 800px; box-shadow: 0 2px 1px #9c9c9c; text-align: center; border-radius: 50px; display: flex; justify-content: space-evenly; align-items: center; }
#navbar ul { list-style: none; padding: 0; margin: 0; justify-content: space-evenly; }
#navbar li { display: inline; margin: 10px 15px; }
#navbar a { color: #dadbe2; text-decoration: none; font: bold 13px / 25px Arial, Helvetica; display: block; margin: 0; padding: 7px 30px; text-transform: uppercase; }
#navbar a:hover { color: white; }
#dropdown { position: relative; }
#dropdown-content { display: none; position: absolute; background-color: rgb(251,91,43); border-radius: 8px; z-index: 1000; top: 100%; }
#dropdown-content a { color: #dadbe2; padding: 5px 16px; text-decoration: none; display: block; border-bottom: 1px solid rgb(194, 70, 33); border-top: 2px solid rgb(252, 105, 60); text-transform: none; font-size: 13px; font-weight: 900; }
#dropdown:hover #dropdown-content { display: block; }
.paragraphs { white-space: pre-wrap; }
div { text-align: center; }
a.button { padding: 10px 20px; border: 1px outset buttonborder; border-radius: 3px; color: white; background-color: rgb(55, 115, 255); text-decoration: none; font-size: 16px; animation: pulse 3s infinite; }
@keyframes pulse { 35%{padding: 10px 20px; font-size: 16px;} 50% {padding: 11px 22px; font-size: 17px;} }
.footer-image { width: 800px; height: 450px; }
